.rounded-img {object-fit: cover;position: relative;border-radius: 50%;border:2px #00b2ff solid;padding:3px;opacity: 0.8;transition: opacity .25s ease-in-out;-moz-transition: opacity .25s ease-in-out;-webkit-transition: opacity .25s ease-in-out;}
.rounded-img:hover {opacity: 1;}
.instagram{width:500px;border:none;}
.itm a{text-decoration:none;color:#000000;}
.itm a:hover{text-decoration:none;color:#00b2fe;}
.itmh1{font-size:3rem;}
.itmh2{font-size:2.5rem;}
.itmh3{font-size:2rem;}
.itmh4{font-size:1.5rem;}
.itmh5{font-size:1rem;}
.itmh6{font-size:0.8rem;}
.itmsmall{font-size: 70%;}
.itmbold{font-weight:700 !important;}
.itmbgwhite{background-color:#ffffff;}
.itmbggray{background-color:#ededed;}
.itmbgblue{background-color:#00b2fe;}
.itmbglightblue{background-color:#94e3ff;}
.itmbgblack{background-color:#000000;}
.itmblue{color:#00b2fe;}
.itmwhite{color:#ffffff!important;}
.itmop50{opacity:0.5;}
.itmbottom{bottom:0;}
.itmround{border-radius:20px;}
.itmbtnormal{font-size:1rem!important;}
.carousel-multi-item .carousel-indicators li {background-color:#00b2fe;}
.itmplato{background-image:url('images/plato.png');background-repeat:no-repeat;background-position-x: right;}
.itmnaturaleza{background-image:url('images/naturaleza.png');background-repeat:no-repeat;background-position-x: 80%;background-position-y: 10%;}
.itmcultura{background-image:url('images/cultura-icon.png');background-repeat:no-repeat;background-position-x: right;}
.itmw-80{width:80% !important;}
.itmfooter a{text-decoration:none;color:#ffffff;}
.itmfooter a:hover{text-decoration:none;color:#ffffff;}
.itmhr{border:1px #ffffff solid;}
.itmredes{font-size: 1rem;}
.itmslider{min-height: 40vh;background-repeat: no-repeat;background-position: 50% 50%;background-size: cover;}
.itmlists{margin-top:-40px;/*background-color:#f3f3f3;*/}
.itmcarousel-caption {position: absolute;bottom: 20px;z-index: 10;padding-bottom: 20px;color: #fff;}
.itmpagina {width: 40px;height: 40px;font-size: 1.2rem;background-color: #00b2fe;border-radius: 50%;transition: all .3s;display: flex;align-items: center;justify-content: center;text-align: center;color: #ffffff !important;}
.itmborder{border: 1px solid #00b2fe;}
.itminput{border-radius: 30px;}
.itmbgligthgray{background-color:#f3f3f3;border:0;}
.itmslider-mini{min-height: 25vh;background-repeat: no-repeat;background-position: 50% 50%;background-size: cover;}
.itmli{margin-bottom: 2rem!important;}
.itmline{border-bottom:3px #000000 solid;}

@media screen and (max-width: 1024px) {
.itmw-80{width:100% !important;}
}
@media screen and (max-width: 540px) {
.itmfullcarousel .itmh3{font-size:1.5rem;}
}
@media screen and (max-width: 460px) {
.itmfullcarousel .itmh3{font-size:1.1rem;}
.itmfullcarousel .itmbottom {bottom:auto;}
}
@media screen and (max-width: 390px) {
.itmh2 {font-size: 2rem;}
}

/*.card {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.card {
    border: 0;
    border-radius: 0;
}*/

.carousel-indicators .active{
	background-color: #00b2fe!important
}

.carousel .carousel-indicators li {
	width: .625rem;
	height: .625rem;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	cursor: pointer;
	list-style: none;
}

.carousel-multi-item .carousel-indicators li {
	height: 1.25rem;
	width: 1.25rem;
	max-width: 1.25rem;
	background-color: #00b2fe;
	margin-bottom: -3.75rem;
	list-style: none;
}

.carousel-multi-item .carousel-indicators .active {
	height: 1.56rem;
	width: 1.56rem;
	max-width: 1.56rem;
	background-color: #00b2fe;
	-webkit-border-radius: 50%;
	border-radius: 50%
}

.carousel-multi-item .carousel-indicators {
	margin-bottom: -2em
}

@media only screen and (max-width:992px) {
	.carousel-multi-item .carousel-indicators li {
		margin-bottom: -1.88rem
	}
}

@media only screen and (max-width:540px) {
	.carousel-thumbnails .carousel-indicators {
		margin-bottom: -3.44rem
	}
}

@media screen and (max-width: 360px) {
.mapa-interactivo #map {height: 300px!important;}
}


@media screen and (max-width: 500px) {
.mapa-interactivo #map {height: 400px!important;}
}

.masonry-thumbs {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-left: -1px;
	margin-right: -1px;
	margin-bottom: -2px;
}

.masonry-thumbs .grid-item {
	display: block;
	position: relative;
	width: 25%;
	max-width: 100%;
	height: auto;
	overflow: hidden;
	padding-left: 1px;
	padding-right: 1px;
	padding-bottom: 2px;
	padding-top: 0;
}

.masonry-gap-0 {
	margin: 0;
}

.masonry-gap-0 .grid-item {
	padding: 0;
}

.masonry-gap-lg {
	margin-left: -3px;
	margin-right: -3px;
	margin-bottom: -6px;
}

.masonry-gap-lg .grid-item {
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 6px;
}

.masonry-gap-xl {
	margin-left: -5px;
	margin-right: -5px;
	margin-bottom: -10px;
}

.masonry-gap-xl .grid-item {
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
}

.precio-opcion {border-radius:20px;padding:0.5rem 1rem;background-color:#f8f9fa;color:#00b2ff;font-weight:bold;}
.precio-total {font-size:1.4rem;font-weight:bold;border-radius:20px;padding:0.5rem 1.5rem;background-color:#00b2ff;color:#ffffff;}

#texto1x1 .titulo{font-size: 2.5rem;font-weight:bold;}
.table_estadisticas tr, td, th {border-width: 1px;}
.table_estadisticas {color: #333333;background-color: #CCCCCC;vertical-align: baseline;text-align: center;white-space: normal;display: table;border: 1px;margin-left: 0px;margin-top: 0px;margin-bottom: 3px;}

.stretcher-wrapper .stretcher {position: relative;width: 100%;height: auto;overflow: hidden;font-size: 0;margin: 0;padding: 0;}
.stretcher-wrapper .stretcher .stretcher-item {position: relative;background-size: cover;background-position: center;display: block;width: 100%;height: 30vh;overflow: hidden;-moz-transition: width .5s;-o-transition: width .5s;-webkit-transition: width .5s;transition: width .5s;}
.stretcher-wrapper .stretcher .stretcher-item>a {position: absolute;width: 100%;height: 100%;-moz-transform: translate3d(0, 100%, 0);-ms-transform: translate3d(0, 100%, 0);-o-transform: translate3d(0, 100%, 0);-webkit-transform: translate3d(0, 100%, 0);transform: translate3d(0, 100%, 0);z-index: 99;}
.stretcher-wrapper .stretcher .stretcher-item:hover>a {-moz-transform: translate3d(0, 0, 0);-ms-transform: translate3d(0, 0, 0);-o-transform: translate3d(0, 0, 0);-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
.stretcher-wrapper .stretcher .stretcher-item.inactive,.stretcher-wrapper .stretcher .stretcher-item.active {width: 100%;}
.stretcher-wrapper .stretcher .stretcher-item .stretcher-logo {background-color: rgba(0, 72, 108, .5);opacity: 1;position: absolute;width: 100%;height: 100%;-moz-transition: opacity .2s;-o-transition: opacity .2s;-webkit-transition: opacity .2s;transition: opacity .2s;font-size: initial;color: #fff;}
.stretcher-wrapper .stretcher .stretcher-item .stretcher-logo img,.stretcher-wrapper .stretcher .stretcher-item .stretcher-logo .text {position: absolute;left: 50%;top: 50%;-moz-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);}
.stretcher-wrapper .stretcher .stretcher-item .stretcher-logo .text {text-align: center;}
.stretcher-wrapper .stretcher .stretcher-item .stretcher-logo .text .text-intro {display: block;}
.stretcher-wrapper .stretcher .stretcher-item:hover .stretcher-logo {opacity: 0;}
.stretcher-wrapper .stretcher .stretcher-item figure {background-color: rgba(0, 38, 57, .5);color: #fff;position: absolute;z-index: 9;font-size: initial;padding: 20px 10px;width: 100%;left: 0;bottom: 0;margin: 0;-moz-transform: translate3d(0, 100%, 0);-ms-transform: translate3d(0, 100%, 0);-o-transform: translate3d(0, 100%, 0);-webkit-transform: translate3d(0, 100%, 0);transform: translate3d(0, 100%, 0);-moz-transition: all .5s;-o-transition: all .5s;-webkit-transition: all .5s;transition: all .5s;}
.stretcher-wrapper .stretcher .stretcher-item figure figcaption {white-space: normal;font-size: 13px;}
.stretcher-wrapper .stretcher .stretcher-item figure h4 {margin-bottom: 0;}
.stretcher-wrapper .stretcher .stretcher-item:hover figure {-moz-transform: translate3d(0, 0, 0);-ms-transform: translate3d(0, 0, 0);-o-transform: translate3d(0, 0, 0);-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}

@media(min-width:992px) {
.stretcher-wrapper .stretcher .stretcher-item {width: 25%;height: 100%;display: inline-block;}
.stretcher-wrapper .stretcher .stretcher-item.inactive {width: 20%;}
.stretcher-wrapper .stretcher .stretcher-item.active {width: 40%;}
.stretcher-wrapper .stretcher .stretcher-item figure {padding: 20px 30px;}
.stretcher-wrapper .stretcher {height: 300px;white-space: nowrap;}
.stretcher-wrapper.stretcher-wrapper-frontpage .stretcher {height: 100vh;}
.stretcher-wrapper.stretcher-wrapper-frontpage .stretcher .stretcher-item figure {bottom: 20%;-moz-transform: translate3d(-100%, 0, 0);-ms-transform: translate3d(-100%, 0, 0);-o-transform: translate3d(-100%, 0, 0);-webkit-transform: translate3d(-100%, 0, 0);transform: translate3d(-100%, 0, 0);overflow: hidden;padding: 50px 30px;}
.stretcher-wrapper.stretcher-wrapper-frontpage .stretcher .stretcher-item:hover figure {-moz-transform: translate3d(0, 0, 0);-ms-transform: translate3d(0, 0, 0);-o-transform: translate3d(0, 0, 0);-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
}

.uaiaccesible {top: auto;bottom: 13px;transform: translate(-100%);left: 60px; /*calc(100vw - 21px);*/ right: auto;font-size: initial!important;transition: transform .4s!important;position: fixed!important;cursor: pointer;background: #000000!important;border-radius: 50%!important;padding: 3px;display: inline-block;width: 40px;height: 40px;min-width: 40px;min-height: 40px;max-width: 40px;max-height: 40px;box-sizing: content-box!important;text-align: initial!important;z-index: 10;}
.uaiaccesible img:not(.check_on) {height: 40px;width: 40px;display: block;padding: 0!important;margin: 0!important;background: 0 0!important;border: none!important;opacity: 1!important;visibility: visible!important;}